.container_button{
    background-color: #FFFFFF;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container_button > span{
    font-size: 1.6rem;
}