.card {
  min-height: 100px;
  min-width: 100px;
  width: 500px;
  padding: 2.5rem;
  box-shadow: 5px 7px 16px rgba(205, 205, 223, 0.25);
  height: auto;

  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #eeeeee;

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.title_text {
  color: var(--title-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.subtitle_text {
  color: var(--subtitle-color);
  font-size: 0.875rem;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .card {
    width: 100%;
    position: static;
    transform: translate(0,0);
    box-shadow: 0 0 0  transparent;
    border: none;
    border-radius: 0;
  }
}
